
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
}

body {
    width: 100%;
    height: 90%;
    color: #fff;
    background: linear-gradient(-45deg, yellow, yellowgreen, green, peru);
    background-size: 200% 200%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#waitingArea, #chooseActionArea, #loginArea {
    text-align: center;
    width: 100%;
    padding-top: 40%;
    overflow: hidden;
}

.whiteFont {
    color: #ffffff;
}

#gameArea {
    padding-top: 15%;
    text-align: center;
}

#gameArea, #waitingArea, #chooseActionArea {
    display: none;
}

#roomName {
    background-color: lightgray;
    border-radius: .25rem;
}

.form-control {
    margin: auto;
    width: 80%;
}


.number:hover {
    cursor: default;
}

.numbers:hover {
    cursor: pointer;
}

.numbers {
    display: inline-block;
    border: 1px solid;
    font-size: 2em;
    border-radius: 10px;
    min-width: 20%;
    margin: auto;
    background-color: lightgray;
}

table, th, td {
    border: 1px solid black;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#userNames {
    background-color: lightgray;
    color: black;
}

#amountOfCards {
    background-color: white;
    color: black;
}



#overlay, #endOverlay, #nextRoundOverlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    cursor: default; /* Add a pointer on hover */
    margin: auto;

}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#text {
    margin: auto
;
}

#otherPlayersTable {
    margin: auto;
}

#users {
    padding-left: 0;
    margin: auto;
}

#qd {
    opacity: 0;
}

#backToLoginButton, #joinGame {
    margin: auto;
}


#userForm, #joinGameForm, #waitingArea, #gameArea, #overlay, #endOverlay, #nextRoundOverlay {
    zoom: 4;
}

#username, #password, #enterButton, #roomID, #joinGame, #backToLoginButton,
#startGameButton, #leaveRoomButton, #roomName, .namesList {
    border-radius: 10px;
}

.namesList {
    border: 1px solid rgba(0, 0, 0, .125);
    display: block;
    position: relative;
    padding: .75rem 1.25rem;
    background-color: #ffffff;
}


#livesInfo {
    left: 0;
    position: fixed;
    padding-left: 1vw;
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(255,0,0,0));
    color: #FFFFFF;
}


#roundInfo {
    right: 0;
    position: fixed;
    padding-right: 1vw;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0,0,0,0.5));
    color: #FFFFFF;
}

#info {
    height: 2em;
}

#lastCard {
    font-size: .75em;
    color: #FFFFFF;
}

#currentCard {
    background-color: lightgreen;
    border: 1px solid;
    font-size: 4em;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

@media (hover: hover) {

    #userForm, #joinGameForm, #waitingArea, #gameArea, #overlay, #endOverlay, #nextRoundOverlay {
        zoom: 1;
    }

    #gameArea {
        text-align: center;
        padding-top: 5%;
    }

    #waitingArea, #chooseActionArea, #loginArea {
        text-align: center;
        width: 100%;
        padding-top: 0;
        overflow: hidden;
    }

    .numbers {
        display: inline-block;
        border: 1px solid;
        font-size: 4em;
        border-radius: 10px;
        min-width: 10%;
        margin: auto;
        background-color: lightgray;
    }

    #currentCard {
        background-color: lightgreen;
        border: 1px solid;
        font-size: 6em;
        border-radius: 10px;
        width: 15%;
        margin: auto;
    }

    #lastCard {
        font-size: 2em;
        color: #FFFFFF;
    }
}



